.App {
  text-align: center;
}

.container {
  text-align: center;
}

.row1 {
  display: flex;
}
.row2 {
  display: flex;
}

.titles {
  flex: 1;
  border: 1px solid greenyellow;
  position: relative;
}
.overlayTitle {
  color: whitesmoke;
  background-color: black;
  opacity: .8;
  width: 100%;
  display: none;
  position: absolute;
  bottom: 40%;
}
.titles:hover .overlayTitle{
  display: block;
}

@media only screen and (max-width: 600px) {
  .row1 {
    flex-direction: column;
  }
  .row2 {
    flex-direction: column;
  }
}
