.App {
  text-align: center;
}

.container {
  text-align: center;
}

.row1 {
  display: flex;
}
.row2 {
  display: flex;
}

.titles {
  flex: 1;
  padding: 20px;
  border: 1px solid greenyellow;
}
.overlayTitle {
  display: none;
}
.titles:hover .overlayTitle{
  display: block;
}

@media only screen and (max-width: 600px) {
  .row1 {
    flex-direction: column;
  }
  .row2 {
    flex-direction: column;
  }
}
