*{
  margin: 0;
  padding: 0;
  width: 100%;
  border-block: 0;
}
img {
  display: block;
}



.App {
  text-align: center;
}
.container {
  width: auto;
}
.row {
  display: flex;
}
.titles {
  flex: 1;
  position: relative;
  overflow: hidden;
}
.overlayTitle {
  color: whitesmoke;
  background-color: black;
  width: 100%;
  opacity: .4;
  position: absolute;
  bottom: -10%;
  transition: bottom ease 1s;
}
.titles:hover .overlayTitle{
  opacity: .8;
  bottom: 40%;
}




@media only screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}
